/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Barra de navegación */
nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    position: relative;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

nav ul li .dropdown {
    display: none;
    position: absolute;
    background-color: #444;
    top: 100%;
    left: 0;
    padding: 0;
}

nav ul li .dropdown:hover {
    background-color: rgb(201, 200, 200);
    color: #1f1e1e;
}

nav ul li:hover .dropdown {
    display: block;
}

nav ul li .dropdown li {
    margin: 0;
}

nav ul li .dropdown li a {
    padding: 10px;
    display: block;
}

/* Sección principal */
.hero {
    text-align: center;
    padding: 20px 20px;
    background-color: #e2e2e2;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 50px;
}

/* Estilo para las secciones de imágenes alternadas */
.image-section {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.image-section img {
    max-width: 40%;
    height: auto;
    margin: 0 80px;
}

.image-section p {
    flex: 1;
    font-size: 1.5rem;
    color: #555;
    text-align: justify;
}

/* Alternar imagen a la izquierda y a la derecha */
.image-section:nth-child(odd) {
    flex-direction: row-reverse;
}

#openModal {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    padding: 10px 20px;
    background-color: rgb(68, 1, 1);
    color: rgb(167, 164, 164);
    cursor: pointer;
}

#openModal:hover {
    background-color: rgb(218, 213, 213);
    color: rgb(151, 0, 0);
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 300px;
    text-align: center;
    border-radius: 10px;
}

.modal-content p {
    font-size: 1.3rem;
}

.modal-image {
    margin-top: 20px;
    max-width: 100%;
}

.close {
    font-size: 25px;
    cursor: pointer;
}

.slides {
    width: 90%;
    margin-inline: auto;
    position: relative;
    height: 134px;
    margin-bottom: 1rem;
    overflow: hidden;
    mask-image: linear-gradient(to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1) 20%,
            rgba(0, 0, 0, 1) 80%,
            rgba(0, 0, 0, 0));
}

@keyframes scrollLeft {
    to {
        left: -200px;

    }
}

.slides>img {
    width: 200px;
    border-radius: 6px;
    position: absolute;
    left: calc(200px * 10);
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.item1 {
    animation-delay: calc(30s / 10 * (10 - 1) * -1)
}

.item2 {
    animation-delay: calc(30s / 10 * (10 - 2) * -1)
}

.item3 {
    animation-delay: calc(30s / 10 * (10 - 3) * -1)
}

.item4 {
    animation-delay: calc(30s / 10 * (10 - 4) * -1)
}

.item5 {
    animation-delay: calc(30s / 10 * (10 - 5) * -1)
}

.item6 {
    animation-delay: calc(30s / 10 * (10 - 6) * -1)
}

.item7 {
    animation-delay: calc(30s / 10 * (10 - 7) * -1)
}

.item8 {
    animation-delay: calc(30s / 10 * (10 - 8) * -1)
}

.item9 {
    animation-delay: calc(30s / 10 * (10 - 9) * -1)
}

.item10 {
    animation-delay: calc(30s / 10 * (10 - 10) * -1)
}